 /* questions style start */
 .questions {
 	padding-top   : 55px;
 	padding-bottom: 25px;
 }

 .questions__title {
 	margin-bottom: 15px;
 }

 .questions__button-wrapper {
 	display        : flex;
 	justify-content: space-between;
 }

 .questions__left-wrapper {
 	display       : flex;
 	flex-direction: column;
 	flex-basis    : 50%;
 }

 .questions__right-wrapper {
 	display       : flex;
 	flex-direction: column;
 	flex-basis    : 50%;
 }

 .questions__left-wrapper p,
 .questions__right-wrapper p {
 	padding-top: 30px;
 	display    : none;
 }

 .read__button-wrapper {
 	display        : flex;
 	justify-content: space-between;
 }

 .read__button-name {
 	font-weight: 700;
 	font-size  : 20px;
 }

 .read__button-text {
 	font-size  : 18px;
 	font-weight: 600px;
 }

 .questions__left-wrapper button,
 .questions__right-wrapper button {
 	background   : none;
 	width        : 100%;
 	min-height   : 80px;
 	padding      : 30px;
 	margin       : 10px;
 	border       : 2px solid #f5f4f4;
 	border-radius: 10px;
 }

 .questions__button-wrapper i {
 	color: #e797ff;
 }

 .questions__left-wrapper button p,
 .questions__right-wrapper button p {
 	text-align : left;
 	line-height: 24px;
 }

 .questions__subtitle {
 	font-weight: 500;
 	margin-top : 30px;
 }

 /* questions style end  */